* 
{
    color: black;
    text-align: center;
}
body {
    
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

}
.nav-items{
    justify-content: space-between;
    display: flex;
    padding: 0px;
    background-color: rgb(93, 20, 93)
    
}
.form-body {
  padding:10px 40px;
  color:#666;
}

.form-group{
  margin-bottom:20px;
}

.form-body .label-title {
  color:#1BBA93;
  font-size: 17px;
  font-weight: bold;
}

.form-body .form-input {
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}



.horizontal-group .left{
  float:left;
  width:49%;
}

.horizontal-group .right{
  float:right;
  width:49%;
}

input[type="file"] {
 outline: none;
 cursor:pointer;
 font-size: 17px;
}

#range-label {
 width:15%;
 padding:5px;
 background-color: #1BBA93;
 color:white;
 border-radius: 5px;
 font-size: 17px;
 position: relative;
 top:-8px;
}


::-webkit-input-placeholder {
 color:#d9d9d9;
}

/*---------------------------------------*/
/* Form Footer */
/*---------------------------------------*/
.form-footer {
 clear:both;
}

.div-image {
  display: grid;
  place-items: center;
}
/*---------------upto one=====*/
.heading{
    color:blueviolet;
}
#register-1 {
    background-size: cover;
    background-color: white;
    max-width: 300%;
    align-content: center;
    max-height: 200%;
    font-size: 25px;
    background-image: url(./image1.jpg);
    display:flex; 
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
}

#register {
    
    width: 20%;
    font-size: 25px;
    padding: 10px;
    background-color: rgb(93, 20, 93)
}

#About {
    
    
    width: 20%;
    font-size: 25px;
    padding: 10px;
    background-color: rgb(93, 20, 93)
}
#games {

  width: 20%;
    font-size: 25px;
    padding: 10px;
    background-color: rgb(93, 20, 93)
}
#Person {
  
    
    width: 20%;
    font-size: 25px;
    padding: 10px;
    background-color: rgb(93, 20, 93)

}
#About-1 {
    margin-top: 50px;
    background-color: violet;
    background-size: cover;
    padding: 20px;
    align-items: center;
    gap: 20px;

}
#services {
    
    width: 20%;
    font-size: 25px;
    background-color: rgb(93, 20, 93)

}
#services-1 {
    margin-top: 50px;
    background-color: rgb(156, 167, 142);
    flex-direction: column;
    background-size: cover;
    padding: 20px;
    align-items: center;
    gap: 20px;
}

.conatct-form {
    padding: 10px;
    margin-top: 30px;
}



.about-content {
    display: flex;
    padding :20px 10%;
    width: 500px;

}

.tab-1{
    display: none;
    background-size: cover;
}
.game-title {
    margin-top: 30px;
    font-size: 24px;
    color: #333;
    text-align: center;
    align-items: center;
  }
  
  .container {
    margin-top: 20px;
  }
  
  #count {
    font-size: 48px;
    color: #333;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
  }

  table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
    color: #333;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover 
  {
    background-color: #f4f4f4;
  }
  .navbar-toggler
  {
    display: none;


  }
  @media screen and (max-width: 600px) 
  {
    .nav-items{
      
      width:100%;
       display: none;
       
    }
    .active{
      display : flex;
      flex-direction: column;
    }
  
    .navbar-toggler
    {
      display:block; /* Show toggler button on smaller screens */
      /* padding: 5px 10px; /* Add padding for better visibility */
      /* font-size: 20px; Increase font size for better visibility */ 
    }

    
  }

  